@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Oxygen');
body{
	background:#f6f6f6;
}
.carousel-control.right, .carousel-control.left{
	background: none;
}
.carousel-inner img{
	width: 100%;
}
.fh5co-section-highlight{
	background: url(../images/most-popular-bg.jpg) no-repeat center;
}
#fh5co-logo{
	margin: 0 !important;
	padding: 0 !important;
}
#fh5co-logo img{
	height: 100px;
}
.heading-title{
	margin-top: 50px;
	background: none;
	text-align: center;
	font-weight: bold;
	padding: 15px 0;
}
.heading-title:before{
	content: '';
    display: inline-block;
    vertical-align: middle;
    background: #000;
    height: 1px;
    width: 8%;
    text-align: left;
    left: 0;
    margin-right: 10px;
}
.heading-title:after{
       content: '';
    display: inline-block;
    vertical-align: middle;
    background: #000;
    height: 1px;
    width: 8%;
    text-align: left;
    left: 0;
    margin-left: 10px;
}

/*Tours */
.fh5co-tours > div .desc{
	padding: 0;
	padding-bottom: 15px;
}
.fh5co-tours > div .desc span{
	display: block;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 5px;
    width: 89%;
    padding: 4px 10px;
    font-weight: bold;
    background: #000;
    font-size: 18pt;
}
.fh5co-tours > div .desc .title-project{
	font-size: 16pt;
}
.category {
	position: absolute;
    top: 0;
    right: 0;
    padding: 20px 0;
    z-index: 12;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    width: 100px;
}
.category span{
	    display: block;
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 5px;
    /* width: 89%; */
    padding: 4px 10px;
    font-weight: bold;
    background: #d2d1d1;
    font-size: 14pt;
}

.price {
	position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px 0;
    z-index: 90;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;    
	background: url(../images/price_image35.png) no-repeat left;
}
.price .text{
display: block;
    color: rgba(0, 0, 0, 0.9);
    padding: 4px 6px 4px 17px;
    font-weight: bold;
    font-size: 14pt;
    line-height: 35px;
}

.h_iframe        {position:relative;}
.h_iframe .ratio {display:block;width:100%;height:auto;}
.h_iframe iframe {position:absolute;top:0;left:0;width:100%; height:100%;}

.fancybox-skin{
	padding: 5px !important;
}
.fancybox-opened .fancybox-title {
       visibility: visible;
    position: absolute;
    bottom: 10px;    
    left: 5px;	
    background: rgba(41, 36, 36, 0.58);
    color: white;
    padding: 10px;
	font-size: 12pt;
}


/*Arrow div */
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 5px solid black;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
  border-top: 20px solid #f00;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  
  border-left: 60px solid green;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;   
  border-right:10px solid blue; 
}

/*Menu*/
#fh5co-menu-wrap{
	margin-top: 0;
	float: left;
}
.stuck{
	    position: relative !important;
}
#fh5co-menu-wrap .sf-menu a{
	color: rgb(255, 255, 255);
}
#fh5co-primary-menu > li > .sf-with-ul:after{
	color: rgb(255, 255, 255);
}
.sf-menu{
	margin: 0 !important;
}
.sf-menu li, .sf-menu ul li, .sf-menu ul ul li, .sf-menu li:hover, .sf-menu li.sfHover{
	    padding: 0 20px;
}
.sf-menu li, .sf-menu ul li, .sf-menu ul ul li, .sf-menu li:hover, .sf-menu li.sfHover:first-child{
	padding-left: 0;
}
.f-right{
	float: right !important;
}
.f-left{
	float: left !important;
}
.social-top{
	padding-top: 30px;

}
.social-top a{
	color: #fff !important;
}

/* new heading */
.title--center {
    margin-bottom: 30px;
    text-align: center;
}

.title--decoration-bottom-center {
    padding-bottom: 20px;
}

.title {
    margin-bottom: 20px;
    position: relative;
	 margin-top: 40px;
}
.title__subtitle {
    margin-bottom: 10px;
    font-family: 'Kaushan Script';
    font-size: 1.200em;
}
.title--big .title__primary {
    font-size: 2.400em;
}

.title__primary {
    margin: 0;
    line-height: 1.333em;
    font-size: 2.000em;
    text-transform: uppercase;
    font-family: Oxygen;
    font-weight: 700;
    font-style: normal;
}
.title--decoration-bottom-center:after {
    content: ' ';
    display: block;
    background: #47a0ff;
    position: absolute;
    height: 5px;
    width: 100px;
    bottom: -1px;
    left: 50%;
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    transform: translate(-50%,0);
    
}
.fh5co-tours img{
	border: 2px solid #fff;
}
.fh5co-tours > div:after{
	    background: rgba(0, 0, 0, 0.1);
}

#footer {
    background: #77a921;
    padding: 40px 0 0px;
}

#footer .fh5co-footer-link h3 {
    color: rgba(27, 20, 20, 0.98);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
}

#footer .fh5co-footer-link li a {
    color: rgb(0, 0, 0);
    font-weight: 400;
}

.img-icon-list {
    width: 90px;
    padding-bottom:  10px;
    padding-left: 20px;
}
.price-list {
    float: right;
    padding: 10px;
    color: red;
    border: double 3px red;
}
.read_more {
    float: right;
    padding: 4px;
    color: white;
}
.heading-line {
    font-weight: 600;
}
.button-book{
    margin: 0 auto;
}
.caption-slide{
	 color: black;
   -webkit-text-fill-color: black; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
}
.carousel-indicators{
	bottom:0;
}
.carousel-caption{
	bottom: 10px;
}